# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-log.txt
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code specific
.vscode/

# Log and report files from your script
*.log
*.txt
!requirements.txt # Keep the requirements file
inns.txt # Exclude the specific INN list if it's private

# PDF sources
PDF/